
  .form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: #ffffff;
    border: 10px solid #f2f2f2;
    margin-top: 12em;
    color: black;

  }
  
  h1, p {
    text-align: center;
  }
  
  input, textarea {
    width: 100%;
  }
  /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#conteudo {
    color:white;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.barra-navegacao {
    overflow: hidden;
    padding: 20px;
    font-size: 25px;
    background-color: transparent;
}
.barra-navegacao a {
    float: right;
    display: block;
    color:#4f17a3;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s;
}
.barra-navegacao a:hover {
    color: #8833ff;
}
.barra-navegacao span {
    float: left;
    color: #4f17a3;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    transition:0.3s;
}
.barra-navegacao span:hover {
    color: #8833ff;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */